
<script type="text/javascript">
    function MailTest_start($scope, EngineApi, $http, $timeout, Notifications, $compile, $upload, $filter, Auth, $resource, $translatePartialLoader, $translate, uiGridConstants, GateGuest) {
        $scope.savesubmit = function () {
            console.log(111)
            $scope.formVariables.push({name: "email_to", value: $scope.query.email_to});
            $scope.formVariables.push({name: "email_subject", value: $scope.query.email_subject});
            $scope.formVariables.push({name: "email_text", value: $scope.query.email_text});
            $scope.submit()
        }
    }
</script>
<div class="col-md-12" ng-controller="MailTest_start">
    <form class="form-horizontal" novalidate name="form">
        <legend><h3>{{'MailTest'|translate}}</h3></legend>
        <div class="form-group">
            <label class="col-sm-2 control-label">{{'收件人'|translate}}</label>

            <div class="col-sm-6">
                <input class="form-control" name="title" ng-model="query.email_to"
                       required form-field/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">{{'标题'|translate}}</label>

            <div class="col-sm-2">
                <input class="form-control" name="Type" ng-model="query.email_subject"
                       required form-field/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">{{'内容'|translate}}</label>

            <div class="col-sm-2">
                <input class="form-control" name="Type" ng-model="query.email_text"
                       required form-field/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-primary" ng-click="savesubmit()">
                    {{'submit'|translate}}
                </button>
            </div>
        </div>
    </form>
</div>