<style>
    .modal-lg {
        width: 900px;
    }

    .form-table {
        width: 100%;
        display: inline-block;
        padding: 15px 0px;
        margin-bottom: 15px;
    }

    .form-group {
        margin-bottom: 5px
    }

    li {
        list-style-type: none;
    }

    li ul {
        display: none;
        border: 1px solid #000000;
        margin-left: -3px;
    }
</style>
<form class="form-horizontal" role="form" novalidate name="form" style="padding-top:30px">

    <legend>
        <h3>{{'Waste generating Units'|translate}}</h3>
    </legend>
    <div class="col-sm-12 form-group">
        <!-- search form here -->


    </div>
    <div style="width: 100%;">
        <div id="Grid" ui-grid="gridOptions" class="grid" ui-grid-selection ui-grid-pagination ui-grid-resize-columns
            ui-grid-core ui-grid-exporter></div>
    </div>

</form>
<div class="modal fade" id="myModal" role="dialog" aria-labelledby="myLargeModalLabel" data-backdrop="static"
    data-keyboard="false">

    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form class="form-horizontal ng-pristine ng-invalid ng-invalid-required" role="form" name="form" novalidate>
            </form>
            <div class="modal-body" style="padding-bottom:3px">
                <form class="form-horizontal " role="form" name="formCompany" novalidate>
                    <H4 style="background-color: #ececec; padding:3px">{{'CompanyInformation'|translate}}</H4>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">*{{'Area'|translate}}</label>
                        <div class="col-sm-4">
                            <select class="form-control" type="text" name="type" ng-model="entity.Area" required
                                ng-options="t.id as t.Specification for t in lsArea"></select>
                        </div>
                        <label class="col-sm-2 control-label">*{{'Source'|translate}}</label>

                        <div class="col-sm-4">
                            <select class="form-control" type="text" name="type" ng-model="entity.Source" required
                                ng-options="t.id as t.Specification for t in lsSource"></select>
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">*{{'GenDepartment'|translate}}</label>
                        <div class="col-sm-4">
                            <select  ng-disabled="entity.GenContractor!=null"  class="form-control" type="text" name="type" ng-model="entity.GenDepartment">
                                <option value=""></option>
                                <option ng-repeat="item in lsDepartment" value="{{item.id}}">
                                    {{item.Specification}}
                                </option>
                            </select>
                        </div>
                        <label class="col-sm-2 control-label">*{{'GenUnitName'|translate}}</label>
                        <div class="col-sm-4">
                            <input ng-disabled="entity.GenDepartment!=null" 
                            class="form-control" type="text" name="email" ng-model="entity.GenContractor" />
                        </div>

                    </div>  
            </div>        
            <div class="modal-footer">
                <button type="button" id="btnSubmit" class="btn btn-primary" ng-click="Save(entity)" ng-disabled="formCompany.$invalid" >
                    {{'saveSubmit'|translate}}
                </button>
                <button data-dismiss="modal" type="button" class="btn btn-default" ">{{'Close'|translate}}</button>
            </div>
        </form>
        </div>

        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>