<div class="modal fade" id="myModal" role="dialog" aria-labelledby="myLargeModalLabel" data-backdrop="static"
    data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form action=""></form>
            <div class="modal-body" style="padding-bottom:3px">
                <H4 style="background-color: #ececec; padding:5px">{{'WasteItemInformation'|translate}}</H4>
                <form class="form-horizontal" role="form" name="formWaste" novalidate>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">*{{'ItemCode'|translate}}</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="text" name="ItemCode" ng-model="recod.ItemCode"
                                ng-disabled="recod.WasteType!='CTNH'" />
                        </div>
                        <label class="col-sm-2 control-label">*{{'ProcessComp'|translate}}</label>
                        <div class="col-sm-4">
                            <select style="width:100%" id="ProcessComp" class="form-control"
                                ng-model="recod.CompOriginID" name="compid"
                                ng-options="d.CompOriginID as d.CompName for d in companylist | filter:{Type:'P'}">
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">*{{'State'|translate}}</label>
                        <div class="col-sm-4">
                            <select class="form-control" type="text" name="State" ng-model="recod.State">
                                <option value="S">{{'Solid' | translate}}</option>
                                <option value="L">{{'Liquid' | translate}}</option>
                                <option value="M">{{'Sludge' | translate}}</option>
                            </select>
                        </div>
                        <label class="col-sm-2 control-label">*{{'ChooseMethodProcess'|translate}}</label>
                        <div class="col-sm-4">
                            <select style="width:100%" ui-select2 ng-model="recod.MethodID" name="method_id">
                                ng-options="m.MethodID as m.MethodDescription for m in method_list"
                                <option ng-repeat="m in method_list" value="{{m.MethodID}}">
                                    {{m.MethodDescription}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">*{{'WasteKind'|translate}}</label>
                        <div class="col-sm-4">
                            <select class="form-control" type="text" name="waste_type" ng-model="recod.WasteType"
                                ng-options="t.id as t.Specification for t in lsWasteKind"
                                ng-change="recod.ItemCode=''"></select>
                        </div>
                        <label class="col-sm-2 control-label">*{{'UnitPrice'|translate}}</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="text" name="unit_price" ng-model="recod.UnitPrice" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">*{{'WasteValue'|translate}}</label>
                        <div class="col-sm-4">
                            <select class="form-control" type="text" name="waste_value" ng-model="recod.WasteValue"
                                ng-options="t.id as t.Specification for t in lsWasteValue">
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">*{{'Area'|translate}}</label>
                        <div class="col-sm-4">
                            <select class="form-control" type="text" name="area" ng-model="recod.Area"
                                ng-options="t.id as t.Specification for t in lsArea"></select>
                        </div>
                        <label class="col-sm-2 control-label">*{{'Source'|translate}}</label>
                        <div class="col-sm-4">
                            <select class="form-control" type="text" name="source" ng-model="recod.Source"
                                ng-options="t.id as t.Specification for t in lsSource"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">*{{'WasteItemDescriptionVN'|translate}}</label>
                        <div class="col-sm-9">
                            <input class="form-control" type="text" name="Description_VN"
                                ng-model="recod.Description_VN" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">*{{'WasteItemDescriptionTW'|translate}}</label>
                        <div class="col-sm-9">
                            <input class="form-control" type="text" name="Description_TW"
                                ng-model="recod.Description_TW" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnSubmit" class="btn btn-primary" ng-click="savesubmit()"
                    ng-disabled="formWaste.$invalid">
                    {{'saveSubmit'|translate}}
                </button>
                <button type="button" class="btn btn-default" ng-click="reset()">{{'Close'|translate}}</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>