<style>

    #footer{
        display: none;
    }

    #footer{
        display: none;
    }
</style>

<div class="col-sm-12"  id="printPage">
    <legend style="padding-left: 10px;">
        <h3>{{'GoodsOut'|translate}}
            <io-barcode code="{{VoucherID}}" type="CODE128B" options="options"></io-barcode>
        </h3>
    </legend>
    <div class="col-sm-12">
        <table class="table table-bordered"  >

            <tr>
                <td>{{'VoucherID'|translate}}：<a href="#/gate/GoodsOut/{{VoucherID}}/print" target="_blank">{{details.VoucherID}}</a></td>
                <td>{{'GoodsType'|translate}}：{{details.GoodsTypeRemark}}</td>
                <td>{{'BackOrNot'|translate}}：{{details.IsBackinfo}}</td>
            </tr>
            <tr>
                <td>{{'ExpectBack'|translate}}：{{details.ExpectBack}}</td>
                <td>{{'TakeOut'|translate}}：{{details.TakeOut}}</td>
                <td>{{'TakeCompany'|translate}}：{{details.TakeCompany}}</td>
            </tr>
            <tr>
                <td>{{'VehicleNO'|translate}}：{{details.VehicleNO}}</td>
                <td>{{'ExpectOut'|translate}}：{{details.ExpectOut}}</td>
                <td>{{'Remark'|translate}}：{{details.Remark}}</td>
            </tr>
        </table>
        <table class="table table-bordered" >
            <tr>
                <th>{{'GoodsName'|translate}}</th>
                <th>{{'Number'|translate}}</th>
                <th>{{'Unit'|translate}}</th>
                <th>{{'GoodsOutReasons'|translate}}</th>
            </tr>
            <tr ng-repeat="guestItem in details.GoodsItems">
                <td style="width: 180px">{{guestItem.GoodsName}}
                <td>{{guestItem.GoodsAmount}}</td>
                <td>{{guestItem.UnitRemark}}</td>
                <td>{{guestItem.ReasonRemark}}</td>
            </tr>
        </table>
        <table  class="table table-bordered"><tr>
            <th><a href="#/processlog/{{processInstanceId}}" target="_blank">{{'DoneTask'|translate}}</a></th><th>{{'DoneTaskUserName'|translate}}</th><th>{{'Stamp'|translate}}</th><th>{{'Remark'|translate}}</th></tr>
            <tbody  ng-repeat="log in processLogs.Logs">
            <tr ng-if="log.TaskName=='Section manager check'">
                <td>{{log.UserId }}</td>
                <td>{{log.UserName }}</td>
                <td>{{log.FormatStamp }}</td>
                <td>
                    {{log.HistoryField[0].Name}}:  {{log.HistoryField[0].Value}}
                </td>
            </tr>
            <tr ng-if="log.TaskName=='起始表单'">
                <td>{{log.UserId }}</td>
                <td>{{log.UserName }}</td>
                <td>{{log.FormatStamp }}</td>
                <td>{{'GoodsOut'|translate}}</td>
            </tr>
            </tbody>
        </table>
        <div class="col-sm-12" ><h4>{{'GoodsPic'|translate}}</h4></div>
        <div class="col-sm-12">
            <div  ng-repeat="file in filedata"   style="padding: 5px; float: left">
                <img ng-src='/api/cmis/showfile?filename={{file.DocId}}&mimetype={{file.FileType}}'
                     height='320px' width='450px'/>
            </div>
            <!--<table>
                <tr ng-repeat="file in filedata">
                    <td>
                        <img ng-src='/api/cmis/showfile?filename={{file.DocId}}&mimetype={{file.FileType}}'
                             height='340px' width='450px'/>
                    </td>
                </tr>
            </table>-->
        </div>
    </div>
</div>
