<style>
    .modal-lg {
        width: 900px;
    }
</style>

<div class="modal fade" id="myModal" role="dialog" aria-labelledby="myLargeModalLabel" data-backdrop="static"
     data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body" style="padding-bottom:3px">
                <form class="form-horizontal" role="form" novalidate name="Forms">
                    <div class="col-sm-12 form-group">
                        <H4 style="background-color: #ececec; padding: 5px">{{'GoodsOutPlan'|translate}}</H4>

                        <div class="form-group form-table">

                            <div class=" form-group ">
                                <label class="col-sm-2 control-label">{{'VoucherID'|translate}}</label>

                                <div class="col-sm-3">
                                    <input class="form-control" type="text" name="Doc_number"
                                           ng-model="details.VoucherID"
                                           readonly>
                                </div>
                                <label class="col-sm-3 control-label">*{{'GoodsType'|translate}}</label>

                                <div class="col-sm-3">
                                    <select class="form-control" type="text" name="GoodsType"
                                            ng-model="details.GoodsType"
                                            max="0"
                                            required
                                            ng-options="t.ID as t.GoodsType for t in kind">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">*{{'BackOrNot'|translate}}</label>

                                <div class="col-sm-3">
                                    <select class="form-control"
                                            name="IsBack"
                                            ng-model="details.IsBack"
                                            ng-options="c.value as c.name for c in backOrNot"
                                            required> </select>
                                </div>
                                <label class="col-sm-3 control-label">{{'ExpectBack'|translate}}</label>

                                <div class="col-sm-3">
                                    <input id="ExpectBack" class="form-control" type="text" name="ExpectBack"
                                           ng-model="details.ExpectBack" date-picker/>

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">*{{'TakeOut'|translate}}</label>

                                <div class="col-sm-3">
                                    <input type="text" class="form-control" name="TakeOut"
                                           ng-model="details.TakeOut"
                                           required>
                                </div>
                                <label class="col-sm-3 control-label">*{{'TakeCompany'|translate}}</label>

                                <div class="col-sm-3">
                                    <input type="text" class="form-control" name="TakeCompany"
                                           ng-model="details.TakeCompany"
                                           required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{'VehicleNO'|translate}}</label>

                                <div class="col-sm-3">
                                    <input type="text" class="form-control" name="VehicleNO"
                                           ng-model="details.VehicleNO">

                                </div>
                                <label class="col-sm-3 control-label">*{{'ExpectOut'|translate}}</label>

                                <div class="col-sm-3">
                                    <input class="form-control" type="text" name="ExpectOut"
                                           ng-model="details.ExpectOut" date-picker
                                           required/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">*{{'Remark'|translate}}</label>

                                <div class="col-sm-3">
                                    <textarea type="text" class="form-control" name="Remark" ng-model="details.Remark"
                                           required />


                                </div>
                                <label class="col-sm-3 control-label">{{'UploadFile'|translate}}</label>

                                <div class="col-sm-3">
                                    <div class="btn btn-info  my-btn-file">
                                        <i class="glyphicon glyphicon-folder-open"></i> Browse…
                                        <input type="file" ng-file-select="onFileSelect($files,3145728)">
                                    </div>
                                </div>

                            </div>

                            <div class="form-group">
                                <div class="col-sm-12">
                                    <table>
                                        <tr>
                                            <td ng-repeat="file in files">
                                                <div class="my-file-preview-frame">
                                                    <img ng-src='/api/cmis/showfile?filename={{file.DocId}}&mimetype={{file.FileType}}'
                                                         width='150px' height='150px'/>

                                                    <div>
                                                        <div class="btn btn-danger btn-xs"
                                                             ng-click="deletefile(file.DocId,$index)">
                                                            <i class="glyphicon glyphicon-remove"></i>{{'Delete'|translate}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <H4 style="background-color: #ececec; padding: 5px">{{'GoodsDetail'|translate}}</H4>

                <form class="form-horizontal" role="form" novalidate name="form">
                    <div class="col-sm-12 form-group">
                        <div class="form-group form-table">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{'GoodsName'|translate}}</label>

                                <div class="col-sm-3">
                                    <input class="form-control" type="text" name="GoodsName"
                                           ng-model="good.GoodsName"
                                           required></td>
                                </div>
                                <label class="col-sm-3 control-label">{{'Number'|translate}}</label>

                                <div class="col-sm-3">
                                    <input class="form-control" type="number" name="GoodsAmount"
                                           ng-model="good.GoodsAmount"
                                           required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{'Unit'|translate}}</label>

                                <div class="col-sm-3">
                                    <select class="form-control" type="text" name="Unit" ng-model="good.Unit"
                                            max="0"
                                            required
                                            ng-options="t.ID as t.Unit for t in goodsUnit"></select>
                                </div>
                                <label class="col-sm-3 control-label">{{'GoodsOutReasons'|translate}}</label>

                                <div class="col-sm-3">
                                    <select class="form-control" type="text" name="Reason" ng-model="good.Reason"
                                            max="0"
                                            required
                                            ng-options="t.ID as t.OutReason for t in reason"></select>
                                </div>
                                <div class="col-sm-1">
                                    <button class="btn btn-primary btn-sm" ng-click="addGoodItem()"
                                            ng-disabled="form.$invalid">{{'Add'|translate}}
                                    </button>
                                </div>
                            </div>


                        </div>
                    </div>
                </form>

                <table class="table table-bordered ">
                    <tr style=" background-color: #ececec">
                        <th>{{'GoodsName'|translate}}</th>
                        <th>{{'Number'|translate}}</th>
                        <th>{{'Unit'|translate}}</th>
                        <th>{{'GoodsOutReasons'|translate}}</th>
                        <th></th>
                    </tr>
                    <tr ng-repeat="GoodItem in GoodsItems">
                        <td>{{GoodItem.GoodsName}}</td>
                        <td>{{GoodItem.GoodsAmount}}</td>
                        <td>{{GoodItem.UnitSpec}}</td>
                        <td>{{GoodItem.ReasonSpec}}</td>
                        <td><a ng-click="deleteGoodItem($index)"
                               class="btn-xs btn btn-danger">{{'Delete'|translate}}</a></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <h4 style="color: #ff2c27;float: left" ng-click="openNotice()">{{'Rule'|translate}}</h4>
                <button type="button" class="btn btn-default" ng-click="reset()">{{'Close'|translate}}</button>
                <button class="btn btn-warning"
                        ng-disabled="Forms.$invalid||details.GoodsItems.length<1||files.length<1||files.length>4"
                        ng-click="savedraft()">{{'saveDraft'|translate}}
                </button>
                <button class="btn btn-primary"
                        ng-disabled="Forms.$invalid||details.GoodsItems.length<1||files.length<1||files.length>4"
                        ng-click="savesubmit()">{{'saveSubmit'|translate}}
                </button>

                <!-- <button class="btn btn-danger" >{{'21'|translate}}</button>-->
            </div>
            <div class="modal fade bd-example-modal-sm" id="myModalNotice" role="dialog" aria-labelledby="myLargeModalLabel"
                  style="margin-top: 70px">
                <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title" style="color: red">Notice!!!!</h3>
                        </div>
                        <div class="modal-body" style="padding-bottom:3px;">

                            1.成品樣品贈送50公斤內可用物品出廠證，超過50公斤用成品發貨單。
                            </br>
                            2.成品樣品贈送請以公斤為單位。
                            </br>
                            3.成品半成品加工請採用成品發貨
                            </br>
                            4.需要回廠的物品，物品與物品出廠單據請廠商攜帶， 當物品回廠時，請廠商提供物品出廠單，警衛快速辦理物品入廠手續。
                            </br>

                             <hr>
                              1.	Hàng mẫu tặng nếu vượt quá 50(kg) phài làm đơn xuất hàng thành phẩm
                            </br>
                              2.	Đơn vị tính: Kg
                            </br>
                              3.	Thành phẩm, bán thành phẩm đưa đi gia công phải sử dụng đơn xuất hàng thành phẩm.
                            </br>
                              4.	Các đơn xuất vật phẩm cần quay về công ty, vật phẩm và đơn này do nhà thầu(nhà cung ứng) giữ. Khi vật phẩm quay về công ty nhà thầu(nhà cung ứng) trình đơn xuất vật phẩm để Bảo vệ xử lý.

                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>


