<div class="modal fade" id="myModal" role="dialog" aria-labelledby="myLargeModalLabel" data-backdrop="static"
     data-keyboard="false" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body" style="padding-bottom:3px">
                <div>
                    <form class="form-horizontal model-form " name="formNormal">
                        <div class=" form-group ">
                            <label class="col-sm-2 control-label">{{'VoucherID'|translate}}</label>

                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="VoucherID"
                                       ng-model="note.VoucherID"
                                       readonly>
                            </div>
                            <label class="col-sm-2 control-label">*{{'Models'|translate}}</label>

                            <div class="col-sm-4">
                                <select class="form-control" name="VehicleType" ng-model="note.VehicleType"
                                        ng-options="c.ID as c.Spec for c in Shapes"
                                        required></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">*{{'VehicleNO'|translate}}</label>

                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="VehicleNO"
                                       ng-model="note.VehicleNO" required>
                            </div>
                            <label class="col-sm-2 control-label">*{{'Company'|translate}}</label>

                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="Manufacturer"
                                       ng-model="note.Manufacturer"
                                       required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{"OrderNO"|translate}}</label>

                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="OrderNO"
                                       ng-model="note.OrderNO">
                            </div>
                            <label class="col-sm-2 control-label">*{{'Material'|translate}}</label>

                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="Material"
                                       ng-model="note.Material" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">*{{'ExpectedIn'|translate}}</label>

                            <div class="col-sm-4">
                                <input class="form-control" type="text" name="ExpectIn"
                                       ng-model="note.ExpectIn" date-picker
                                       min="0" required/>
                            </div>
                            <label class="col-sm-2 control-label">*{{'ValidTo'|translate}}</label>

                            <div class="col-sm-4">

                                <input class="form-control" type="text" name="ValidatePeriod"
                                       ng-model="note.ValidatePeriod"
                                       readonly/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{'StorageNO'|translate}}</label>

                            <div class="col-sm-4"><input type="text" class="form-control" name="StorageNO"
                                                         ng-model="note.StorageNO">

                            </div>
                            <label class="col-sm-2 control-label">*{{'LinkMan'|translate}}</label>

                            <!--<div class="col-sm-4"><input class="form-control" name="LinkMan" ng-model="note.LinkMan" required ></div>-->

                            <div class="col-sm-4"><input type="text" class="form-control" name="LinkMan"

                                                         ng-model="note.LinkMan" required></div>
                        </div>
                        <div class="form-group">

                            <label class="col-sm-2 control-label">*{{'LinkPhone'|translate}}</label>

                            <div class="col-sm-4"><input type="text" class="form-control" name="LinkPhone"

                                                         ng-model="note.LinkPhone" required></div>
                        </div>
                        <div class="form-group">

                            <label class="col-sm-2 control-label">{{'Remark'|translate}}</label>

                            <div class="col-sm-6">

                                <textarea type="text" class="form-control" name="Remark"

                                          ng-model="note.Remark"></textarea>
                            </div>
                        </div>

                    </form>


                </div>
            </div>

            <div class="modal-footer">
                <div class="row">
                    <label class="col-sm-2 ">{{'NextSigners'|translate}}</label><br>

                    <div class="col-sm-3 " style="text-align: left;" leader-check flow-key="{{workflow}}"
                         user-name="{{username}}"
                         check-date="{{note.ExpectIn}}"></div>

                    <div class="col-sm-6 buttonFooter">
                        <button type="button" class="btn btn-default" ng-click="closeCommon()">{{'Close'|translate}}
                        </button>
                        <button type="button" class="btn btn-warning"
                                ng-click="saveDraft()" ng-disabled="formNormal.$invalid || !ShowSave">
                            {{'saveDraft'|translate}}
                        </button>
                        <button type="button" class="btn btn-primary" ng-click="submitCommonTruck()"
                                ng-disabled="formNormal.$invalid  || !ShowSave">{{'saveSubmit'|translate}}
                        </button>
                        <button type="button" class="btn btn-info" ng-click="addGuest()"
                                ng-disabled="!note.VoucherID  || ShowSave">{{'AddGuest'|translate}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade" id="myEditContainer" role="dialog" aria-labelledby="myLargeModalLabel" data-backdrop="static"
     data-keyboard="false" >
    <div class="modal-dialog modal-lg" style="width: 70%">
        <div class="modal-content">
            <div class="modal-body" style="padding-bottom:3px">
                <div>
                    <form class="form-horizontal model-form " name="formUpdateContainer">
                        <div class=" form-group ">
                            <label class="col-sm-2 control-label">{{'VoucherID'|translate}}</label>

                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="VoucherID"
                                       ng-model="note.VoucherID"
                                       readonly>
                            </div>
                            <label class="col-sm-2 control-label">*{{'VehicleNO'|translate}}</label>

                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="VehicleNO"
                                       ng-model="note.VehicleNO" required ng-disabled="isContainerEdit">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{"Old ContainerNO"|translate}}</label>

                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="OrderNO"
                                       ng-model="note.StorageNO" disabled>
                            </div>
                            <label class="col-sm-2 control-label">*{{'New ContainerNO'|translate}}</label>


                            <div class="col-sm-4">

                                <select style="width:100%" name="NewContainerNO" ui-select2
                                        ng-model="note.NewContainerNO">
                                    <option value="">...</option>
                                    <option ng-repeat="value in OldContainers" value="{{value.StorageNO}}">
                                        {{value.StorageNO}}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">

                            <label class="col-sm-2 control-label">{{'Remark'|translate}}</label>

                            <div class="col-sm-10">

                                <textarea type="text" class="form-control" name="Remark"

                                          ng-model="note.Remark"></textarea>
                            </div>
                        </div>

                    </form>


                </div>
            </div>

            <div class="modal-footer">
                <div class="row">
                    <div class="col-sm-12 buttonFooter">
                        <button type="button" class="btn btn-primary" ng-click="ContainerTruckUpdate()"
                                ng-disabled="formUpdateContainer.$invalid  || !ShowSave">{{'saveSubmit'|translate}}
                        </button>
                        <button type="button" class="btn btn-default" ng-click="closeCommon()">{{'Close'|translate}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div><!-- /.modal -->