<style>
    .form-table {
        width: 100%;
        display: inline-block;
        border: 1px solid #ccc;
        padding: 15px 0px;
        box-shadow: 0px 0px 5px #ccc;
        margin-bottom: 15px;
    }
</style>
<script type="text/javascript">
    function GateUnJointTruck_leadercheck($scope, EngineApi, $http, $timeout, Notifications, $upload, $compile, $filter, Auth, GateUnJointTruck, $resource, uiGridConstants, $translate) {
        var lang = window.localStorage.lang;
        $scope.passOrNot = [{
            "name": $translate.instant('agree'),
            "value": "YES"
        }, {"name": $translate.instant('notAgree'), "value": "NO"}];
        GateUnJointTruck.UnJointTruckBasic().unJointTruckByVoucherID({voucherid: $scope.variable.VoucherID}).$promise.then(function (res) {
            $scope.note = res;
            $scope.note.ExpectIn = $filter('date')($scope.note.ExpectIn, 'yyyy-MM-dd');
            $scope.note.ValidatePeriod = $filter('date')($scope.note.ValidatePeriod, 'yyyy-MM-dd');

            GateUnJointTruck.UnJointTruckBasic().getVehicleTypes({Language:lang,Type:"UnJointTruck"}).$promise.then(function (sharpres) {
                $scope.note.VehicleTypeRemark = $filter('filter')(sharpres, {"ID": $scope.note.VehicleType})[0].Spec;

            }, function (errResponse) {
                Notifications.addError({'status': 'error', 'message': errResponse});
            });

        }, function (errResponse) {
            Notifications.addError({'status': 'error', 'message': errResponse});
        });
        $scope.savesubmit = function () {

            $scope.formVariables.push({name: "JWUser", value: "Guard"});
            $scope.formVariables.push({name:"ValidTo",value: $scope.note.ValidatePeriod });
            $scope.formVariables.push({name: "leadercheck_result", value: $scope.leadercheck_result});
          /*  $scope.formVariables.push({name: "leadercheck_remark", value: $scope.leadercheck_remark || ""});*/
            $scope.submit();
        }
    }
</script>
<div ng-controller="GateUnJointTruck_leadercheck">
    <div id="newVoucher">
        <div class="col-sm-12" style="padding-top: 20px;">
            <form class="form-horizontal" role="form" name="form" novalidate>
                <table id="table" class="table table-bordered" style="table-layout:fixed">
                    <tr>
                        <th colspan="8" style="text-align: center;background_color:#eee;" class=ng-binding>
                            {{'FEPVUnJointTruck'|translate}}--{{'leaderCheck'|translate}}
                        </th>
                    </tr>
                    <tr>
                        <th>{{'VoucherID'|translate}}</th>
                        <td colspan="3">{{note.VoucherID}}</td>
                        <th>{{'Models'|translate}}</th>
                        <td colspan="3">{{note.VehicleTypeRemark}}</td>
                    </tr>
                    <tr>
                        <th>{{'VehicleNO'|translate}}</th>
                        <td colspan="3">{{note.VehicleNO}}</td>
                        <th>{{'Company'|translate}}</th>
                        <td colspan="3">{{note.Manufacturer}}</td>

                    </tr>
                    <tr>
                        <th>{{"OrderNO"|translate}}</th>
                        <td colspan="3">{{note.OrderNO}}</td>
                        <th>{{'Material'|translate}}</th>
                        <td colspan="3">{{note.Material}}</td>
                    </tr>
                    <tr>
                        <th>{{'ExpectedIn'|translate}}</th>
                        <td colspan="3">{{note.ExpectIn}}</td>
                        <th>{{'ValidTo'|translate}}</th>
                        <td colspan="3">{{note.ValidatePeriod}}</td>
                    </tr>
                    <tr>
                        <th>{{'LinkMan'|translate}}</th>
                        <td colspan="3">{{note.LinkMan}}</td>
                        <th>{{'LinkPhone'|translate}}</th>
                        <td colspan="3">{{note.LinkPhone}}</td>
                    </tr>
                    <tr>
                    <th>{{'StorageNO'|translate}}</th>
                    <td colspan="7">{{note.StorageNO}}</td>
                    </tr>
                    <tr>
                        <th>{{'Remark'|translate}}</th>
                        <td colspan="7">{{note.Remark}}</td>
                    </tr>
                </table>
                <H4 style="background-color: #ececec; padding: 5px">{{'leaderCheck'|translate}}</H4>

                <div class="form-group">
                    <label class="col-sm-2 control-label" style="text-align: left;">{{'IsPass'|translate}}:</label>

                    <div class="col-sm-3">
                        <select class="form-control" history-field="IsPass" form-field
                                name="leadercheck_result"
                                ng-model="leadercheck_result"
                                ng-options="c.value as c.name for c in passOrNot"
                                required> </select>
                    </div>
                </div>
                <div class="form-group" ng-if="leadercheck_result=='NO'">
                    <label class="col-sm-2  control-label" style="text-align: left;">{{'DenyReason'|translate}}:</label>

                    <div class="col-sm-6">
                <textarea class="form-control" name="leadercheck_remark" type="text" form-field required
                          history-field="DenyReason" ng-model="leadercheck_remark" field-validate rows="3"/>
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button class="btn btn-primary" ng-click="savesubmit()" ng-disabled="form.$invalid">
                            {{'submit'|translate}}
                        </button>

                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
