<link rel="stylesheet" href="vendor/datatables/datatables.min.css">

<style>
    .table tr {
        text-align: center;
        padding: 4px;
        line-height: 14px;
        /* font-size:10px; */
    }

    .PropertySpec {
        background-color: #cfccff;
    }

    footer {
        display: none;
    }

    table {
        /* width: 1200px; */
        width: 100%;
        margin-left: 0px;
        margin: auto;
        margin-top: 30px !;
    }

    .table-bordered tbody tr:nth-child(odd) td {
        background-color: #F2FAFE;
    }

    footer {
        display: none;
    }


    /* Show the tooltip text when you mouse over the tooltip container */
    .tooltip:hover .tooltiptext {
        visibility: visible;
    }

    #page-contain {

        font-size: 14px;
        padding-left: 10pt;
        padding-left: 8pt;
        font-family: 'Times New Roman', Times, serif;
        margin: 15px;
    }

    @page {
        size: A4;
        /* margin: 0; */
        /* size: auto; */
        margin-top: 5.5mm;
        margin-left: 9mm;
        margin-right: 9mm;
        margin-bottom: 0mm;
    }


    /* Print styling */

    @media print {
        table {
            page-break-inside: auto
        }

        tr {
            page-break-inside: avoid;
            page-break-after: auto;
            
        }
        thead {
            /* color:gainsboro; */
            background:gainsboro !important;
            /* background-color: gainsboro !important; */
        }
        html,
        body {
            width: 210mm;
            height: 297mm;
            margin: 0;
            padding: 0;
        }

        [class*="col-sm-"] {
            float: left;
        }

        [class*="col-xs-"] {
            float: left;
        }

        .col-sm-12,
        .col-xs-12 {
            width: 100% !important;
        }

        .col-sm-11,
        .col-xs-11 {
            width: 91.66666667% !important;
        }

        .col-sm-10,
        .col-xs-10 {
            width: 83.33333333% !important;
        }

        .col-sm-9,
        .col-xs-9 {
            width: 75% !important;
        }

        .col-sm-8,
        .col-xs-8 {
            width: 66.66666667% !important;
        }

        .col-sm-7,
        .col-xs-7 {
            width: 58.33333333% !important;
        }

        .col-sm-6,
        .col-xs-6 {
            width: 50% !important;
        }

        .col-sm-5,
        .col-xs-5 {
            width: 41.66666667% !important;
        }

        .col-sm-4,
        .col-xs-4 {
            width: 33.33333333% !important;
        }

        .col-sm-3,
        .col-xs-3 {
            width: 25% !important;
        }

        .col-sm-2,
        .col-xs-2 {
            width: 16.66666667% !important;
        }

        .col-sm-1,
        .col-xs-1 {
            width: 8.33333333% !important;
        }

        .col-sm-1,
        .col-sm-2,
        .col-sm-3,
        .col-sm-4,
        .col-sm-5,
        .col-sm-6,
        .col-sm-7,
        .col-sm-8,
        .col-sm-9,
        .col-sm-10,
        .col-sm-11,
        .col-sm-12,
        .col-xs-1,
        .col-xs-2,
        .col-xs-3,
        .col-xs-4,
        .col-xs-5,
        .col-xs-6,
        .col-xs-7,
        .col-xs-8,
        .col-xs-9,
        .col-xs-10,
        .col-xs-11,
        .col-xs-12 {
            float: left !important;
        }

        body {
            margin: 0;
            padding: 0 !important;
            min-width: 768px;
        }

        .container {
            width: auto;
            min-width: 750px;
        }

        body {
            /* font-size: 10px; */
        }

        a[href]:after {
            content: none;
        }

        .noprint,
        div.alert,
        header,
        .group-media,
        .btn,
        .footer,
        form,
        #comments,
        .nav,
        ul.links.list-inline,
        ul.action-links,
        .clear,
        .modal {
            display: none !important;
            padding: 0px !important;
        }

        .footer-page {
            position: fixed;
        }
    }

    .navbar {
        display: none;
    }

    .border {
        border-collapse: black;
        border-style: solid;
        border-width: 0.5px;

    }

    hr {
        border: 0.5px solid black;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #bottom-footer {
        display: none;
    }
</style>
<h3 style="text-align:center; padding-bottom: 15pt">Far Eastern Polytex Vietnam Analysis Report</h3>
<div id="page-contain">


    <table>
        <tbody>
            <tr>
                <td>Report No.: {{listofMaterial[0].VoucherID}} </td>
                <td style="width:50%;">Purchase order No.: {{listofMaterial[0].PO_NO}}</td>
            </tr>
            <tr>
                <td>Sample name: {{listofMaterial[0].SampleName}}</td>
                <td>Quantity: {{listofMaterial[0].SampleQuantity}}</td>
            </tr>
            <tr>
                <td>Supplier: {{listofMaterial[0].Description}}</td>
                <td>Amount of sampling: {{ listofMaterial[0].ReceiveNum}} {{listofMaterial[0].Unit}} </td>
            </tr>
            <tr>
                <td>Date of sampling: {{listofMaterial[0].DateOfSample}}</td>
                <td></td>
            </tr>
            <tr>
                <td>Date of analysis report: {{listofMaterial[0].ProdDate}} </td>
                <td></td>
            </tr>
            <tr>
                <td>Specification:</td>
                <td></td>
            </tr>
        </tbody>
    </table>


    <div>
        <table style="border:black;" class="table-bordered">
            <thead>
                <tr style="text-align:center;">
                    <td>No.</td>
                    <td>Test item</td>
                    <td>Specification</td>
                    <td>Result</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="m in listofMaterial">
                    <td style="text-align: center;">
                        <p style='margin:0cm;margin-bottom:3.0pt;text-align:center;'>
                            {{ $index + 1 }}
                    </td>
                    <td style="text-align: center;">
                        <p style='margin:0cm;margin-bottom:3.0pt;text-align:center;'>
                            {{ m.PropertyName }}
                    </td>
                    <td style="text-align: center;">
                        <p style='margin:0cm;margin-bottom:3.0pt;text-align:center;'>
                            {{ m.ValueSpec }}
                    </td>
                    <td style="text-align: center;">
                        <p style='margin:0cm;margin-bottom:3.0pt;text-align:center;'>
                            {{ m.Result }}
                    </td>


                </tr>
            </tbody>
        </table>
    </div>
    <div class="container" style="margin:20px;">

        <label><input ng-init="!qual2" ng-model="qual" type="checkbox"> Qualified</label>
        <label><input ng-init="!qual" ng-model="qual2" type="checkbox"> Unqualified</label>

    </div>
    <table style="border:black;" class="table-bordered">
        <thead>
            <tr style="text-align:center;">
                <td>Laboratory manager</td>
                <td>Laboratory Analyst</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="text-align: center; height:45pt;">
                    
                </td>
                <td style="text-align: center;">

                </td>
            </tr>
        </tbody>
    </table>
    <div style="padding-top:15px;">
        <p style="text-align:right;">5VACQQR020-01</p>
    </div>



</div>