<div class="modal fade" id="myModal" role="dialog" aria-labelledby="myLargeModalLabel" data-backdrop="static"
     data-keyboard="false">

    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-body" style="padding-bottom:3px">
                <div>
                    <form class="form-horizontal model-form " name="form">
                        <div class=" form-group ">

                            <label class="col-sm-2 control-label">
                                <code>{{userinfo.Company}}</code>
                                {{'VoucherID'|translate}}</label>

                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="VoucherID"
                                       ng-model="note.VoucherID"
                                       readonly>

                            </div>

                            <label class="col-sm-2 control-label">*{{'Models'|translate}}</label>

                            <div class="col-sm-4">
                                <select class="form-control" name="VehicleShape" ng-model="note.VehicleShape"

                                        ng-options="c.ID as c.Spec for c in Shape" required ng-disabled="IsReady"></select>
                            </div>
                        </div>
                        <div class=" form-group ">

                            <label class="col-sm-2 control-label">*{{'TransferCompany'|translate}}</label>

                            <div class="col-sm-4">
                                <select class="form-control" name="TransferCompany" ng-model="note.TransferCompany"

                                        ng-options="c.ID as c.Spec for c in transfer"
                                        required ng-disabled="IsReady"></select>
                            </div>
                            <label class="col-sm-2 control-label">*{{'VehicleNO'|translate}}</label>

                            <div class="col-sm-4">

                                <input type="text" class="form-control" name="VehicleNO"
                                       ng-model="note.VehicleNO" ng-change="note.VehicleNO = (note.VehicleNO | uppercase)"
                                       required ng-disabled="IsReady">
                            </div>
                        </div>
                        <div class=" form-group ">
                            <label class="col-sm-2 control-label">{{'Driver'|translate}}</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="Driver"
                                       ng-model="note.Driver" ng-disabled="IsReady"
                                        >
                            </div>
                            <label class="col-sm-2 control-label">{{'DriverPhone'|translate}}</label>

                            <div class="col-sm-4">

                                <input type="text" class="form-control" name="DriverPhone"
                                       ng-model="note.DriverPhone" ng-disabled="IsReady">
                            </div>
                        </div>
                        <div class=" form-group ">
                            <label class="col-sm-2 control-label">*{{'ExpectedIn'|translate}}</label>

                            <div class="col-sm-4">
                                <input class="form-control" type="text" name="ExpectIn" id="ExpectIn"
                                       ng-change="selecteddate()"
                                       ng-model="note.ExpectIn"
                                       date-picker
                                       min="0"
                                       required ng-disabled="IsReady"
                                        />
                            </div>
                            <label class="col-sm-2 control-label">*{{'ValidTo'|translate}}</label>

                            <div  class="col-sm-4">
                                <div class="input-group">
                                    <input class="form-control" type="text" name="ValidatePeriod"  id="ValidatePeriod"
                                           ng-change="selecteddateValidatePeriod()"
                                           ng-model="note.ValidatePeriod" date-picker
                                           min={{note.ExpectIn}} required ng-disabled="IsReady" />
                                    <span class="input-group-addon" ng-show="IsReady">
                                      <input type="checkbox"  ng-model='Validatetype' ng-click="updateSelection($event)"  >
                                    </span>

                                </div><!-- /input-group -->

                            </div>
                        </div>
                        <div class=" form-group ">
                            <label class="col-sm-2 control-label">*{{'Material'|translate}}</label>

                            <div class="col-sm-4">
                                <select class="form-control" name="MaterielType" ng-model="note.MaterielType"

                                        ng-options="c.ID as c.Spec for c in material"
                                        required ng-disabled="IsReady"></select>
                            </div>
                            <label class="col-sm-2 control-label">{{'Remark'|translate}}</label>

                            <div class="col-sm-4">

                                <input type="text" class="form-control" name="Remark"
                                       ng-model="note.Remark" ng-disabled="IsReady"
                                        >
                            </div>
                        </div>
                    </form>
                    <div ng-hide="userinfo.Company=='VH'">
                        <H4 style="background-color: #ececec; padding: 5px">{{'ShippingInformation'|translate}}</H4>

                        <form class="form-horizontal" role="form" name="order" novalidate>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{'KindOfBill'|translate}}</label>
                                <div class="col-sm-2">
                                    <select class="form-control"
                                            name="ShippingOrder" ng-model="Trantype"
                                            ng-options="c.value as c.name for c in trantypes"
                                            required></select>
                                </div>
                                <label class="col-sm-2 control-label">*{{'ShippingOrder'|translate}}</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control"
                                           name="ShippingOrder" ng-model="ShippingOrder"  ng-keydown="ngkeyDown($event)" ng-change="ShippingOrder = (ShippingOrder | uppercase)" required>
                                </div>
                                <div class="col-sm-4">
                                    <button type="button" class="btn btn-primary" ng-click="saveSO()"
                                            ng-disabled="order.$invalid" >{{'Add'|translate}}
                                    </button>
                                    <button type="button" class="btn btn-danger" ng-click="delOrder()">
                                        {{'Remove'|translate}}
                                    </button>
                                </div>
                            </div>
                        </form>

                    </div>
                    <div ng-hide="userinfo.Company=='VC'">
                        <H4 style="background-color: #ececec; padding: 5px">{{'ShippingInformation'|translate}}</H4>

                        <form class="form-horizontal" role="form" name="order" novalidate>
                            <div class="form-group">
                                <!--<label class="col-sm-2 control-label">{{'KindOfBill'|translate}}</label>-->
                                <!--<div class="col-sm-2">-->
                                <!--<select class="form-control"-->
                                <!--name="ShippingOrder" ng-model="Trantype"-->
                                <!--ng-options="c.value as c.name for c in trantypes"-->
                                <!--required></select>-->
                                <!--</div>-->
                                <label class="col-sm-2 control-label">*{{'DeliveryOrder'|translate}}</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control"
                                           name="ShippingOrder" ng-model="ShippingOrder"  ng-keydown="ngkeyDown($event)" ng-change="ShippingOrder = (ShippingOrder | uppercase)" required>
                                </div>
                                <div class="col-sm-4">
                                    <button type="button" class="btn btn-primary" ng-click="saveSO()"
                                            ng-disabled="order.$invalid" >{{'Add'|translate}}
                                    </button>
                                    <button type="button" class="btn btn-danger" ng-click="delOrder()">
                                        {{'Remove'|translate}}
                                    </button>
                                </div>
                            </div>
                        </form>
                        <div style=" width: 100%;">

                        </div>
                    </div>
                    <div style=" width: 100%;">
                        <div id="voucherGrid" ui-grid="vouchergridOptions" class="grid" ui-grid-selection ui-grid-pagination
                             ui-grid-resize-columns
                             ui-grid-core  style="height: 227px;">

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-default" ng-click="reset()">{{'close'|translate}}</button>
                <button id="btnSaveDraft" class="btn btn-warning" ng-click="savedraft()" ng-hide="IsReady"
                        ng-disabled="form.$invalid&&note.VoucherID">{{'saveDraft'|translate}}
                </button>
                <button id="btnSaveSubmit" type="button" class="btn btn-primary" ng-click="savesubmit()"
                        ng-disabled="form.$invalid&&note.VoucherID">
                    {{'saveSubmit'|translate}}
                </button>
                <button type="button" class="btn btn-info" ng-click="addGuest()" ng-disabled="!note.VoucherID" ng-hide="IsReady">
                    {{'AddGuest'|translate}}
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div><!-- /.modal -->