<form class="form-horizontal" role="form"  name="form">
    <div>
        
       <div class="form-group">
        <label class="col-sm-2 control-label">datetime</label>
        <div class="col-sm-4">
         <input class="form-control" type="text" name="modify_result" ng-model="modify_result"
                                       id="modify_result"
                                       
                                        form-field
                                       required/>
            </div>
        <button type="button" class="btn btn-primary" style="float: right;margin-right: 250px" ng-click="submit()" ng-disabled="form.$invalid">提交
        </button>
    </div>

</form>