

<script type="text/javascript">
    function TEST_timeendtask($scope,EngineApi,$http, $timeout,Notifications,$upload,$compile,$filter,Auth) {



    }
</script>
<div ng-controller="TEST_timeendtask">
    任务处理{{variable.start_endDate}}
    <form class="form-horizontal"  role="form" novalidate   name="form" >
        <div class="form-group">
            <label class="col-sm-2 control-label">结束时间</label>
            <div class="col-sm-3">
                <input class="form-control" type="text" name="start_endDate"
                       ng-model="start_endDate"      date-picker form-field
                       required/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">

                <button class="btn btn-primary" ng-click="submit()" ng-disabled="form.$invalid" >提交</button>
                <button class="btn btn-default" ng-click="cancel()">取消</button>
            </div>
        </div>
    </form>
</div>