<style>
    .bs-glyphicons {
        overflow: hidden;
    }

    .bs-glyphicons-list {
        padding-left: 0;
        list-style: none;
    }

    .bs-glyphicons li:hover {
        color: #ff851b;
        background-color: #fcf8e3;
    }

    @media (min-width: 768px) {
        .bs-glyphicons li {
            width: 12.5%;
            font-size: 13px;
        }
    }

    .glyphicon-class {
        font-size: 12px;
    }

    .bs-glyphicons li {
        float: left;
        width: 100%;
        height: 120px;
        padding: 10px;
        font-size: 13px;
        line-height: 1.4;
        text-align: center;
        /*background-color: #f9f9f9;*/
        border: 1px solid #f5f5f5;
    }

    @media (min-width: 768px) {
        .bs-glyphicons li {
            float: left;
            width: 100%;
            height: 150px;
            padding: 10px;
            font-size: 13px;
            line-height: 1.4;
            text-align: center;
            background-color: #cccfdb;
            margin: 10px;
            /*   border: 1px solid #f5f5f5;*/
        }

        .glyphicon-class {
            font-size: 16px;
        }
    }

    .bs-glyphicons-list li a {
        display: table-cell;
        padding-left: 50px;
        color: #333;
    }

    .bs-glyphicons-list li a:hover {
        color: #ff4a00;
        text-decoration: none;
    }

    .bs-glyphicons .glyphicon {
        color: #6d6d6d;
        margin-top: 5px;
        margin-bottom: 10px;
        font-size: 13px;
    }

    .bs-glyphicons .glyphicon-class {
        display: block;
        text-align: center;
        color: #000000;
        word-wrap: break-word;
    }

    .list-group-item-my {
        padding: 5px 5px;
        display: block;
        border: 0px solid #dddddd;
    }

    .panel-body {
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 15px;

    }

    .dividerss {
        height: 1px;
        margin: 8px 1px;
        overflow: hidden;
        background-color: #e5e5e5;
        border-bottom: 1px solid #ffffff;
        *width: 100%;
        *margin: -5px 0 5px;
    }
</style>


<div class="container">
    <div class="row" style="padding-top: 20px; ">
        <div class="col-xs-9">
            <div class="row">
                <div class="col-xs-12">
                    <!--<img src="/css/image/logo.png" style="opacity: 1; transition: opacity 1s; background-color: rgb(255, 255, 255);width: 100%;">-->
                    <marquee scrollamount="10">
                        <h2 style="margin-left: 10px">Welcome to〖FAR EASTERN POLYTEX(VIETNAM) LTD.〗
                        </h2>
                    </marquee>
                </div>

            </div>


            <div class="row panel panel-default" style="margin-right: 5px;margin-left: 5px">
                <!--ACS html tag-->
                <div class="row">
                    <div class="col-sm-3">
                        <img src="/css/image/acs.png"
                            style="opacity: 1; transition: opacity 1s; background-color: rgb(255, 255, 255);width: 100%;padding-top: 30px;margin-left: 10px;">
                    </div>

                    <div class="col-sm-9" style="padding-top: 15px; ">
                        <h4 style="    border-bottom: 1px solid #d5d5d5;    padding-bottom: 0.5em; margin-right: 5px;">
                            ACS</h4>
                        <div class="col-sm-6">
                            <div>
                                <a href="javascript:void(0)"
                                    ng-click="btSelectAuth('FEPVGateGuestQuery','FEPVGateGuest')"> <span
                                        style=" color: #563d7c" class="glyphicon glyphicon-list-alt"></span>
                                    <span>{{'GuestPlan'| translate}}</span></a>
                            </div>
                            <div>
                                <a href="javascript:void(0)"
                                    ng-click="btCheckAuth('FEPVGateGoodOutQuery','/gate/GoodsOut')"> <span
                                        style=" color: #563d7c" class="glyphicon glyphicon-edit"></span>
                                    <span>{{'GoodOutTitile'| translate}} </span></a>

                            </div>
                            <div>
                                <a href="javascript:void(0)"
                                    ng-click="btCheckAuth('FEPVPtaEgTruckQuery','gate/PtaEgTruck')"> <span
                                        style="color: #563d7c" class="glyphicon glyphicon-new-window"></span>
                                    <span> {{'FEPVPtaEgTruck'| translate}} </span></a>

                            </div>

                        </div>
                        <div class="col-sm-6">

                            <div>
                                <a href="javascript:void(0)"
                                    ng-click="btCheckAuth('FEPVUnJointTruckQuery','gate/UnJointTruck')"> <span
                                        style="color: #563d7c" class="glyphicon glyphicon-compressed"></span>
                                    <span> {{'FEPVUnJointTruck'| translate}} </span></a>

                            </div>
                            <div>
                                <a href="javascript:void(0)"
                                    ng-click="btCheckAuth('FEPVJointTruckQuery','gate/JointTruck')"> <span
                                        style="color: #563d7c" class="glyphicon glyphicon-sound-dolby"></span>
                                    <span> {{'FEPVJointTruck'| translate}} </span></a>

                            </div>



                        </div>

                    </div>

                </div>
                <div style="margin-top: 20px;border: 0;border-top: 1px solid #eeeeee;">
                </div>
                <!--LIMS html tag-->
                <div class="row">
                    <div class="col-sm-3">
                        <img src="/css/image/lims.png"
                            style="opacity: 1; transition: opacity 1s; background-color: rgb(255, 255, 255);width: 100%;padding-top: 50px;margin-left: 10px;">
                    </div>

                    <div class="col-sm-9" style="padding-top: 5px; padding-bottom: 15px">
                        <h4 style="    border-bottom: 1px solid #d5d5d5;    padding-bottom: 0.5em; margin-right: 5px;">
                            LIMS</h4>
                        <div class="col-sm-6">
                            <div>
                                <a href="javascript:void(0)"
                                    ng-click="btCheckAuth('PVLIMS-010','/LIMS/Entrusted')"><span
                                        class="glyphicon glyphicon-list-alt" style="color: #563d7c"></span>
                                    <span> {{'Entrusted'|translate}}</span></a>
                            </div>
                            <div>
                                <a href="javascript:void(0)"
                                    ng-click="btCheckAuth('PVLIMS-010','/Lims/QueryPlans')"><span
                                        class=" glyphicon glyphicon-search" style="color: #563d7c"></span>
                                    <span>{{'QueryPlans'| translate}}</span></a>
                            </div>
                            <div>
                                <a href="javascript:void(0)"
                                    ng-click="btCheckAuth('PVLIMS-010','/Lims/QueryReceive')"><span
                                        class=" glyphicon glyphicon-search" style="color: #563d7c"></span>
                                    <span> {{'QueryReceive'| translate}}</span></a>
                            </div>
                            <div>
                                <a href="javascript:void(0)" ng-click="btCheckAuth('PVLIMS-010','/Lims/OnTest')"><span
                                        class="glyphicon glyphicon-edit" style="color: #563d7c"></span>
                                    <span> {{'Create Tightened Analysis Requisition'| translate}}</span></a>
                            </div>
                            <div>
                                <a href="javascript:void(0)"
                                    ng-click="btCheckAuth('PVLIMS-010','/Lims/QueryCurrentGrade')"><span
                                        class=" glyphicon glyphicon-search" style="color: #563d7c"></span>
                                    <span> {{'Grades Query'| translate}}</span></a>
                            </div>
                            <div>
                                <a href="javascript:void(0)"
                                    ng-click="btCheckAuth('PVLIMS-001','/Lims/GradeSpecVersion')"><span
                                        class="glyphicon glyphicon-list" style="color: #563d7c"></span>
                                    <span> {{'GradeSpecVersion'| translate}}</span></a>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div>
                                <a href="javascript:void(0)"
                                    ng-click="btCheckAuth('PVLIMS-010','LIMS/QualifiedControl/')"> <span
                                        style="color: #563d7c" class="glyphicon glyphicon-sound-dolby"></span> <span>
                                        {{ 'QualifiedControlSystem'|translate}} </span></a>
                            </div>
                            <div>
                                <a href="javascript:void(0)" ng-click="btCheckAuth('PVLIMS-010','LIMS/Chart/')"> <span
                                        style="color: #563d7c" class="glyphicon glyphicon-new-window"></span> <span>
                                        SPC Chart </span></a>
                            </div>
                            <div>
                                <a href="javascript:void(0)"
                                    ng-click="btCheckAuth('PVLIMS-010','/Lims/OverGradeChart/')"><span
                                        class="glyphicon glyphicon-new-window" style="color: #563d7c"></span>
                                    <span> {{'OverGradeChart'| translate}}</span></a>
                            </div>
                            <div>
                                <a href="javascript:void(0)"
                                    ng-click="btCheckAuth('PVLIMS-010','/Lims/ReportAnalysis/')">
                                    <span style="color: #563d7c" class="glyphicon glyphicon-stats"></span>
                                    <span> {{'ReportIncomingAnalysis'| translate}} </span></a>
                            </div>
                            <div>
                                <a href="javascript:void(0)"
                                    ng-click="btCheckAuth('PVLIMS-010','/Lims/ReportPOLYnSSP/')">
                                    <span style="color: #563d7c" class="glyphicon glyphicon-stats"></span>
                                    <span> {{'ReportPOLYnSSP'| translate}} </span></a>
                            </div>




                            <!-- <div>
                                <a href="javascript:void(0)" ng-click="btCheckAuth('PVLIMS-010','/Lims/OverGradeChart/')"><span
                                    class="glyphicon glyphicon-new-window" style="color: #563d7c"></span>
                                    <span> {{'OverGradeChart'| translate}}</span></a>
                            </div> -->


                        </div>
                        <!-- <div>
                            <a href="#/Lims/POLY21"><span class=" glyphicon glyphicon-bookmark" style="color: #563d7c"></span><span> {{'POLY21'|translate}}</span></a>
                        </div>
                        <div>
                            <a href="#/Lims/SSPDay"><span class=" glyphicon glyphicon-bookmark" style="color: #563d7c"></span><span> {{'SSPDay'|translate}}</span></a>
                        </div> -->
                    </div>
                </div>

                <div style="margin-top: 20px;border: 0;border-top: 1px solid #eeeeee;">
                </div>
                <!--EHS system-->
                <div class="row">
                    <div class="col-sm-3">
                        <img src="/css/image/ehs.jpg"
                            style="opacity: 1; transition: opacity 1s; background-color: rgb(255, 255, 255);width: 100%;padding-top: 30px;margin-left: 10px;">
                    </div>
                    <div class="col-sm-9" style="padding-top: 15px; padding-bottom: 15px">
                        <h4 style="    border-bottom: 1px solid #d5d5d5;    padding-bottom: 0.5em; margin-right: 5px;">
                            EHS</h4>
                        <div class="col-sm-6">
                            <div>
                                <a href="javascript:void(0)"
                                    ng-click="btCheckAuth('GateContractorInfoProcessQuery','/ConQua/Index')"> <span
                                        style="color: #563d7c" class="glyphicon glyphicon-bookmark"></span>
                                    <span> {{'ConQua_CQ'| translate}} </span></a>

                            </div>
                            <div>
                                <a href="javascript:void(0)"
                                    ng-click="btCheckAuth('GateContractorQuaProcessQuery','/ContractorQua/Index') ">
                                    <span style="color: #563d7c" class="glyphicon glyphicon-bookmark"></span>
                                    <span> {{'ContractorQua'| translate}} </span></a>

                            </div>
                            <div>
                                <a href="#/waste/Main"> <span class=" glyphicon glyphicon-bookmark"
                                        style="color: #563d7c"></span><span>
                                        {{'Voucher Requisition'| translate}}</span></a>
                            </div>

                        </div>
                        <div class="col-sm-6">
                            <div>

                                <a href="javascript:void(0)"
                                    ng-click="btCheckAuth('FEPVContratorImport','ContractorQua/import')"><span
                                        class=" glyphicon glyphicon-bookmark" style="color: #563d7c"></span>
                                    <span> {{'ContractorAll'| translate}}</span></a>
                            </div>
                            <div>
                                <a href="#/Contractor/StatisticReport"> <span class=" glyphicon glyphicon-bookmark"
                                        style="color: #563d7c"></span><span>
                                        {{'ContractorsStatistics'| translate}}</span></a>
                            </div>
                            <div><a href="javascript:void(0)"
                                    ng-click="btCheckAuth('FEPVHC_User','/CircumstanceReport')">
                                    <span class=" glyphicon glyphicon-bookmark" style="color: #563d7c"></span><span>
                                        {{'Circumstance Report'| translate}}</span></a></div>
                        </div>

                    </div>
                </div>



                <div style="margin-top: 20px;border: 0;border-top: 1px solid #eeeeee;">
                    <!--OA html tag-->
                    <div class="row">
                        <div class="col-sm-3">
                            <img src="/css/image/OA.png"
                                style="opacity: 1; transition: opacity 1s; background-color: rgb(255, 255, 255);width: 100%;height: 150px;padding-top: 30px;margin-left: 10px;padding-bottom: 30px">
                        </div>

                        <div class="col-sm-9" style="padding-top: 15px; padding-bottom: 15px">
                            <h4
                                style="    border-bottom: 1px solid #d5d5d5;    padding-bottom: 0.5em; margin-right: 5px;">
                                OA</h4>
                            <div class="col-sm-6">

                                <div>
                                    <a href="javascript:void(0)" ng-click="btCheckAuth('FEPVOAMeal','/gate/Meal')"><span
                                            class=" glyphicon glyphicon-bookmark" style="color: #563d7c"></span>
                                        <span> {{'OAMeal'| translate}}</span></a>
                                    <!--<a href="#/gate/Meal" > <span style=" color: #563d7c" class="glyphicon glyphicon-tags"></span>-->
                                    <!--<span >{{'OAMeal'| translate}} </span></a>-->

                                </div>

                            </div>
                            <div class="col-sm-6">

                                <!--html tag content-->

                                <div>

                                </div>
                                <div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div ng-if="isProxyUser==true">
                    <div class="alert alert-danger" role="alert">
                        <strong>{{'Notice'| translate}}:</strong> {{'proxytask'| translate}}!,<span
                            class="glyphicon glyphicon-pencil"><a
                                href="#/taskForm/ProxyUser">{{'cancelproxytask'| translate}}</a></span>
                    </div>
                </div>
            </div>
            <!--  <div class="row">
                    <h4>信息</h4>
                    <ul class="bs-glyphicons-list">
                        <li><span>承揽商信息查询</span></li>
                     </ul>
                </div>-->
        </div>
        <div class="col-sm-3">
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="#/taskForm/todo" class="nav-list"> <i class="icon-bar glyphicon glyphicon-calendar"
                            style="color: #f39c12"></i> {{ 'MyTask' | translate }} <span
                            class="badge">{{tasksCounter}}</span></a>
                </li>
                <li class="list-group-item">
                    <a href="http://10.20.46.26:801/" target="_blank" class="nav-list"> <i
                            class="icon-bar glyphicon glyphicon-new-window" style="color: #f39c12"></i>
                        {{ 'LIMS COA' | translate }} </a>
                </li>
                </li>

                <!--
              <li  class="list-group-item" style="display: none">
                    <a href="#/history" class="nav-list"> <i class="icon-bar glyphicon glyphicon-list-alt" style="color: #f39c12"></i> {{ 'HistoryList' | translate }}   </a>
                </li>-->
                <!--   <li style="display: none" >
                        <a href="#/taskForm/startList" class="nav-list"> <i class="icon-bar glyphicon glyphicon-gift" style="color: #f39c12"></i> 流程版本清单   <span class="badge"></span></a>
                    </li>-->
                <li class="list-group-item">
                    <a href="http://apps.feg.cn" target="_blank" class="nav-list"> <i
                            class="icon-bar glyphicon glyphicon-glass" style="color: #f39c12"></i>
                        {{ 'APPS' | translate }} </a>
                </li>
                <li class="list-group-item">
                    <a href="css/GoogleChrome.rar" target="_blank" class="nav-list"> <i
                            class="icon-bar glyphicon glyphicon-list-alt" style="color: #f39c12"></i>
                        {{'GoogleChrome'|translate}} </a>
                </li>

            </ul>
            <ul>
                <!--  <li> <a href="css/GoogleChrome.rar" target="_blank"></a></li>-->
            </ul>
        </div>

    </div>
</div>